* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #be1818;
  font-family: system-ui, sans-serif;
}

.sidebar {
  width: 12rem;
  min-height: 100vh;
  padding-top: 24px; /* this determines the first shift down of the LINES */
  border-right: 3px solid black;

  background:
    repeating-linear-gradient(
      to bottom,
      #ece9d8 0,
      #ece9d8 3.25rem,
      black 3.25rem,
      black 55px
    );
}

.btn {
  display: block;
  width: 150px;
  height: 3.25rem;
  margin-left: 2.5rem;
  margin-bottom: 0.25rem;
  padding: 1rem 2rem;

  background: black;
  color: white;
  border: 0;
  border-radius: 0.75rem 0 0 0.75rem;

  font: inherit;
  font-weight: 600;
  cursor: pointer;
}

.group-gap {
  margin-bottom: 3.5rem;
}

.btn:hover {
  transform: translateX(15px);
  width: 135px;
}
