

/* @import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap'); */

:root {
  --pianokeys: #00000a; 
  --primary: #a855f7;
  --secondary: #ec4899;
  --accent: #06b6d4;
  --bg-dark: #fff;
  --bg-card: #ece9d8;
  --text: #fafafa;
  --text-muted: #71717a;
}

/* Container */
.container {
  max-width: 12rem;
}

/* Card */
.card {
  width: 12rem;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background: var(--bg-card);
  border-radius: 0;
  border-right: 3px solid #00000a;
  overflow: align self; /* ?? */
}

.card-bg {
  position: absolute;
  top: -12rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 20rem;
  background: var(--bg-card);
  /* background: radial-gradient(circle, var(--primary) 0%, transparent 70%); */
  opacity: 0.2;
  filter: blur(60px);
  pointer-events: none;
}

.card-content {
  position: absolute;
  padding: 3rem 2rem;
  text-align: center;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

@keyframes bounce {
  0%, 100% { transform: scaleY(1); }
  50% { transform: scaleY(0.5); }
}
/* menu .menu-buttons */
.menu-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Dit duwt alle knoppen naar de rechterkant van de bar! */
  gap: 1rem;            /* De standaard ruimte tussen de andere knoppen */
  margin-top: 2rem;
  width: 100%;
}

/* Button */
.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  background: var(--pianokeys);
  /* background: linear-gradient(135deg, var(--primary), var(--secondary)); */
  border: none;
  border-radius: 0.75rem;
  width: 150px;
  margin-bottom: 10px; 
  color: white;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 10px 30px rgba(168, 85, 247, 0.3);
}

.btn-space{
  margin-bottom: 2.5rem;
}

.btn:hover {
  transform: translateX(5px);
  box-shadow: 0 15px 40px rgba(168, 85, 247, 0.4);
}

.btn:hover .btn-icon {
  transform: translateX(4px);
}

.btn:active {
  transform: translateY(-1px);
}

.btn-icon {
  transition: transform 0.3s ease;
}

